*._*
*.pyc
*.pyo
*.ymlc
*.ymlc~
*.scssc
*.so
*~
.#*
.DS_Store
.project
.pydevproject
.settings
.idea
/.ropeproject
\#*#
/pub
/test*.py
/.local
/perf.data*
/config_local.yml
/build
/logs
__pycache__/
.d8_history
/*.egg
/*.egg-info
/dist
/.cache
docs/_build
*,cover
.coverage
*.pid
*.log
.vscode
.env
result.json
query.json
